<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <clear/>
    <add key="vs:EnableBrowserLink" value="false"/>
    <add key="ParentArticleClassId" value="565"/>
    <!--文章外层类别配置-->
    <add key="MemberYouHui" value="14060610061051076460"/>
    <!--会员优惠配置-->
    <add key="connectStr" value="Data Source=.;Database=CORE;User ID=sa;Password=wangli83"/>
    <add key="MongoConnectStr" value="mongodb://power:Wangli83Wangli83@localhost:27017" />
  </appSettings>
  <connectionStrings/>
  <!--
    有关 .NET 4.5 的 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <!--<sessionState mode="StateServer" cookieless="true" stateConnectionString="tcpip=127.0.0.1:42424" />-->
    <!-- 
            设置 compilation debug="true" 可将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
    <compilation debug="true" targetFramework="4.5.1">
      <assemblies>
        <!--<add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>-->
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            通过 <authentication> 节可以配置 ASP.NET 用来 
            识别进入用户的
            安全身份验证模式。 
        -->
    <authentication mode="Windows"/>
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。
     -->
    <!--<customErrors mode="On" defaultRedirect="/error.aspx">

      -->
    <!--<error statusCode="404" redirect="/error.aspx?msg=错误404,找不到此页面!" />-->
    <!--
    </customErrors>-->
    <!-- 允许上传文件的最大大小是100M（1024*100），网页超时时间为300秒 -->
    <httpRuntime maxRequestLength="2097151" executionTimeout="360000000"/>
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID"/>
    <trust level="Full"/>
  </system.web>
  <!-- 
        在 Internet 信息服务 7.0 下运行 ASP.NET AJAX 需要 system.webServer
        节。对早期版本的 IIS 来说则不需要此节。
    -->
  <system.webServer>
    <!-- 防止悲剧的IIS7.5 不让URL路由-->
    <modules runAllManagedModulesForAllRequests="true"/>
    <httpErrors errorMode="Custom" defaultResponseMode="Redirect">
      <!--<remove statusCode="404" />
      <error statusCode="404" path="/error.aspx?msg=错误404,找不到此页面!"  responseMode="Redirect" />-->
    </httpErrors>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
    <handlers/>
    <staticContent>
      <!--<mimeMap fileExtension=".mp4" mimeType="application/octet-stream"/>-->
    </staticContent>
  </system.webServer>
</configuration>