body {
}


.div_down {
}

    .div_down a {

        line-height:50px;
        color:#fff;
        background-color:#ff9734;
        border-radius:5px;
        display:block;
        width:150px;
        margin:auto;
        text-decoration:none;
    }