<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <Header>
    <Title>Web初始页面</Title>
    <Author>Microsoft Corporation</Author>
    <Shortcut>page</Shortcut>
    <Description>page 函数调用的代码片段</Description>
    <SnippetTypes>
      <SnippetType>Expansion</SnippetType>
      <SnippetType>SurroundsWith</SnippetType>
    </SnippetTypes>
  </Header>
  <Snippet>
    <Declarations>
      <Literal>
        <ID>selected</ID>
        <ToolTip>消息</ToolTip>
        <Default>message</Default>
      </Literal>
    </Declarations>
    <Code Language="JavaScript">
      <![CDATA[
    
    $(function () {
BindPageSetting();
}


function BindPageSetting() {

}
    
    ]]></Code>
  </Snippet>
</CodeSnippet>
